body {
    background-image: linear-gradient(rgba(91, 112, 131), rgb(255, 254, 240, 0));
    color: rgb(36, 36, 36);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    justify-content: center;
}
footer {
    justify-self: center;
    font-size: 14px;
}
#container {
    background: none;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 300px;
    height: 500px;
    padding-bottom: 100px;
    padding-top: 20px;
}
#screen {
    background-color: rgba(128, 255, 0, 0.795);
    grid-row: 1;
    grid-column: 1/5;
    color: rgb(39, 65, 65);
    font-size: 2em;
    min-height: auto;
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgba(78, 78, 78, 0.438);
}
button {
    min-width: 40px;
    min-height: 80px;
    border-radius: 5px;
    font-size: 2em;
    color: rgb(49, 59, 59);
    font-family: bolder monospace;
    box-shadow: 2px 2px 5px rgba(78, 78, 78, 0.438);
    background: rgb(227, 227, 241);
}
button:active {
    box-shadow: 0 #666;
    transform: translateY(2px);
    outline: none !important;
}